:host {
  #main-site-header {
    min-height: var(--ds-header-height);

    @include media-breakpoint-up(md) {
      height: var(--ds-header-height);
    }

    background-color: var(--ds-header-bg);

    &-container {
      min-height: var(--ds-header-height);
    }
  }

  img#header-logo {
    height: var(--ds-header-logo-height);
  }

  button#navbar-toggler {
    color: var(--ds-header-icon-color);

    &:hover, &:focus {
      color: var(--ds-header-icon-color-hover);
    }
  }

  .favorites-section {
    align-items: center;
    gap: 0.5rem;
  }
  
  .favorites-btn {
    cursor: pointer;
    width: max-content;
    align-items: center;
    color: var(--ds-header-icon-color);
  
    &:hover {
      color: var(--ds-header-icon-color-hover);
    }
  }
  
  .favorites-icon{
    padding-right: 5px;
  }

}
